.navbar-dark {
	background-color: #28252b;
}

.start_of_page {
	padding-top: 70px;
}

.row-content {
	height: 100%;
	border-bottom: 1px solid #442C2E ;
}
.nav-item {
	font-size: 50px;
}
.navbar-toggler {
	z-index: 1000;
	margin-left: auto;
}
.p-2:hover {
	background-color: #03DAC6;
	color: white;
}

a:hover {
	color: white;
}

body {
	overflow: hidden;
	background-color: #28252b;
}
.menu {
	z-index: -1;
}
.custom {
	position: fixed;
}

.title {
	color: azure;
}
.centered {
	position: fixed;
	top: 50%;
}


